

.ul {
  list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-around;
}

.li {
  /* Add styles for list items (if needed) */
  margin: 10px;
  gap: 10px;
}

.hi {
  /* Add styles for the h4 elements inside the links */
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

/* Add more specific styles if needed */
